{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Livraria Online {% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        Livraria Online - Administração
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    :root {
        --primary: #2c3e50;
        --secondary: #008eb1;
        --accent: #005a79;
    }

    #header {
        background: var(--primary);
        color: white;
    }

    #branding h1 a:link, #branding h1 a:visited {
        color: white;
    }

    div.breadcrumbs {
        background: var(--secondary);
    }

    .module h2, .module caption, .inline-group h2 {
        background: var(--secondary);
    }

    .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background: var(--secondary);
    }

    .button:hover, input[type=submit]:hover, input[type=button]:hover {
        background: var(--accent);
    }

    .button.default, input[type=submit].default, .submit-row input.default {
        background: var(--accent);
    }
</style>
{% endblock %}
